body {
    margin: auto;
    padding: auto;
}

.container{
    background-color:rgb(162, 162, 162);
    border: 15px;
    border-color: black;
}

.menu {
    padding: 12px;
}

.menu_li {
    display: flex;
    justify-content: space-around ;
}

.menu_li2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a:link 
{ 
 text-decoration:none; 
} 

#name{
    display:flex;
    align-items: center;
    justify-content: center;
}
ul,
menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: black;
}

.link_menu {
    padding: 10px;
}

.burger {
    width: 30px;
    display: none;
    padding: 10px;
}

.menu_deux {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.menu_two {
    z-index: auto;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    position: fixed;
    background-color: rgb(168, 168, 168);
    padding: 12px;
}

@media screen and (max-width:700px) {
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
}
